In [1]:
import pandas as pd 

titanic=pd.read_csv('./titanic.txt')
titanic.head()

,row.names,pclass,survived,name,age,embarked,home.dest,room,ticket,boat,sex
0,1,1st,1,"Allen, Miss Elisabeth Walton",29.0000,Southampton,"St Louis, MO",B-5,24160 L221,2,female
1,2,1st,0,"Allison, Miss Helen Loraine",2.0000,Southampton,"Montreal, PQ / Chesterville, ON",C26,NaN,NaN,female
2,3,1st,0,"Allison, Mr Hudson Joshua Creighton",30.0000,Southampton,"Montreal, PQ / Chesterville, ON",C26,NaN,(135),male
3,4,1st,0,"Allison, Mrs Hudson J.C. (Bessie Waldo Daniels)",25.0000,Southampton,"Montreal, PQ / Chesterville, ON",C26,NaN,NaN,female
4,5,1st,1,"Allison, Master Hudson Trevor",0.9167,Southampton,"Montreal, PQ / Chesterville, ON",C22,NaN,11,male

In [2]:
#选取sex ,age, pclass作为特征
x=titanic[['pclass','age','sex']]
y=titanic['survived']

#用平均年龄修补nan数据
x['age'].fillna(x['age'].mean(),inplace=True)

E:\anaconda\lib\site-packages\pandas\core\series.py:4463: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [3]:
#数据分割
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x,y,test_size=0.25,random_state=33)

In [4]:
#特征转换
from sklearn.feature_extraction import DictVectorizer
vec=DictVectorizer(sparse=False)
x_train = vec.fit_transform(x_train.to_dict(orient='record'))
x_test = vec.transform(x_test.to_dict(orient='record')) 
print((vec.feature_names_))

['age', 'pclass=1st', 'pclass=2nd', 'pclass=3rd', 'sex=female', 'sex=male']

E:\anaconda\lib\site-packages\pandas\core\frame.py:1549: FutureWarning: Using short name for 'orient' is deprecated. Only the options: ('dict', list, 'series', 'split', 'records', 'index') will be used in a future version. Use one of the above to silence this warning.
  warnings.warn(

In [5]:
#使用单一决策树
from sklearn.tree import DecisionTreeClassifier
dtc=DecisionTreeClassifier()
dtc.fit(x_train,y_train)
dtc_y_predict=dtc.predict(x_test)

In [6]:
#使用随机森林分类器
from sklearn.ensemble import RandomForestClassifier
rfc=RandomForestClassifier()
rfc.fit(x_train,y_train)
rfc_y_predict=rfc.predict(x_test)

In [7]:
#使用梯度提升决策树
from sklearn.ensemble import GradientBoostingClassifier
gbc=GradientBoostingClassifier()
gbc.fit(x_train,y_train)
gbc_y_predict=gbc.predict(x_test)

In [9]:
#性能评测
from sklearn.metrics import classification_report
print('Accuracy of decision tree:',dtc.score(x_test,y_test))
print(classification_report(dtc_y_predict,y_test))

print('Accuracy of random forest:',rfc.score(x_test,y_test))
print(classification_report(rfc_y_predict,y_test))

print('Accuracy of gradient tree boosting:',gbc.score(x_test,y_test))
print(classification_report(gbc_y_predict,y_test))

Accuracy of decision tree: 0.7811550151975684
              precision    recall  f1-score   support

           0       0.91      0.78      0.84       236
           1       0.58      0.80      0.67        93

    accuracy                           0.78       329
   macro avg       0.74      0.79      0.75       329
weighted avg       0.81      0.78      0.79       329

Accuracy of random forest: 0.7781155015197568
              precision    recall  f1-score   support

           0       0.89      0.78      0.83       231
           1       0.60      0.78      0.68        98

    accuracy                           0.78       329
   macro avg       0.74      0.78      0.75       329
weighted avg       0.80      0.78      0.78       329

Accuracy of gradient tree boosting: 0.790273556231003
              precision    recall  f1-score   support

           0       0.92      0.78      0.84       239
           1       0.58      0.82      0.68        90

    accuracy                           0.79       329
   macro avg       0.75      0.80      0.76       329
weighted avg       0.83      0.79      0.80       329

In [10]:
#工业界为了追求强劲的预测性能，经常使用随机森林分类模型作为基线系统